.container {
  display: flex;
  align-items: center;
  justify-content: center;

  position: sticky;
  bottom: 20px;
  // margin-top: 20px;
  // margin-bottom: 20px;
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.3);
  padding: 10px;
  height: 60px;
  width: 60px;
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(10px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 15px;

  &:hover {
    cursor: pointer;
    box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.3), 0 0 1rem rgba(255, 255, 255, 0.5);
  }

  img {
    width: 100%;
  }
}
