.imageItem {
  padding: 10px;
  border-radius: 10px;

  > img {
    border-radius: 10px;
    filter: drop-shadow(0 0 2px rgba($color: #000000, $alpha: 0.5));
  }
}

.containerWithDots {
  padding-bottom: 10px;
}

.dotActive {
  width: 50px;
  height: 2px;
  background-color: rgba(50, 50, 50, 1);
}

.dotInactive {
  width: 50px;
  height: 2px;
  background-color: rgba(50, 50, 50, 0.4);
}
