.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 450px;
  height: 650px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  margin-right: 40px;
  margin-left: 40px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.container-img {
  flex: 1;
  display: flex;
  align-items: center;
}

.container-img-badside {
  background: rgba(112, 108, 54, 0.75);
}
.container-img-goodside {
  background: rgba(75, 110, 56, 0.75);
}

.card-img {
  width: 100%;
}

.container-button {
  padding: 15px;
  background-color: #fff;
  display: flex;
  justify-content: flex-end;
}

.nav-button {
  padding: 8px;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.25);
  border-radius: 10px;

  height: 40px;
  width: 280px;

  display: flex;
  justify-content: center;
  align-items: center;

  text-decoration: none;
  color: white;
  text-align: center;
}

.nav-button-goodside {
  background: linear-gradient(108.08deg, #4b6e38 0%, #2c4d1b 100%);
}

.nav-button-badside {
  background: linear-gradient(108.08deg, #706C36 0%, #454218 100%);
}
