.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

  width: 100%;
  max-width: 500px;
  height: 100%;
  max-height: 650px;
  border-radius: 10px;

  display: flex;
  // flex: 1;
  flex-direction: column;

  &[data-route="goodside"]::before {
    width: inherit;
    height: 150px;
    margin-bottom: -150px;
    border-radius: 10px 10px 0 0;
    content: "";
    background: linear-gradient(180deg, #2c4d1b 0.01%, rgba(44, 77, 27, 0) 92.08%);
  }

  &[data-route="badside"]::before {
    width: inherit;
    height: 150px;
    margin-bottom: -150px;
    border-radius: 10px 10px 0 0;
    content: "";
    background: linear-gradient(180deg, #454218 0%, rgba(69, 66, 24, 0) 100%);
  }
}

.containerImage {
  display: flex;
  flex: 1;
  align-items: center;
  border-radius: 10px 10px 0 0;
  overflow: hidden;

  img {
    width: 100%;
    height: auto;
    transform: scale(1.3);
  }

  &[data-route="badside"] {
    background: rgba(112, 108, 54, 0.75);
  }

  &[data-route="goodside"] {
    background: rgba(75, 110, 56, 0.75);
  }
}

.containerFooter {
  padding: 0.7rem;
  background-color: #fff;
  display: flex;
  justify-content: flex-end;
  border-radius: 0 0 10px 10px;
}
