.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-col {
  flex-direction: column;
}

.home-background {
  background-image: url("../../assets/background-images/Background.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.title-box {
  width: 1000px;
  height: 500px;

  background: linear-gradient(
    125.36deg,
    rgba(255, 255, 255, 0.75) 19.96%,
    rgba(231, 200, 182, 0.75) 108.3%
  );
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(20px);

  border-radius: 10px;
}

.begin-tour {
  width: 200px;
  height: 120px;

  z-index: 10;
  margin-top: -75px;

  background: linear-gradient(108.08deg, #e74c3c 0%, #c0392b 100%);
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.2);
  border-radius: 50px;
}

p {
  font-family: "Nunito";
  text-align: center;
}

.container p {
  font-weight: bold;
  text-transform: uppercase;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  text-align: center;
  margin-top: 50px;
}

.begin-tour p {
  font-weight: 800;
  text-transform: uppercase;
  color: #fff;
}
