.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: auto;
  margin-top: 10px;
  // padding: 2rem;

  // border-radius: 20px 0 0 20px;
}

.iconContainer {
  width: 100%;
  max-width: 300px;
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;

  background-repeat: no-repeat;
  background-size: cover;

  .icon {
    width: 100%;
    aspect-ratio: 1/1;
    padding: 1rem;
    filter: drop-shadow(0 2px 4px rgba($color: #000000, $alpha: 0.5));
  }

  filter: drop-shadow(0 2px 4px rgba($color: #000000, $alpha: 0.5));
}

.csContainer {
  display: flex;
  flex-direction: column;
  align-items: center;

  .csIcon {
    filter: drop-shadow(0 2px 4px rgba($color: #000000, $alpha: 0.25));
    width: 60px;
  }

  .csText {
    font-size: 1.2rem;
    font-weight: bold;

    margin-top: 5%;

    color: #323232;
    text-shadow: 0 2px 4px rgba($color: #000000, $alpha: 0.25);
  }
}

.name {
  font-size: calc(1.3rem + 1vmin);
  font-weight: bold;
  text-align: center;

  margin: 20% 0;

  color: #323232;
  text-shadow: 0 2px 4px rgba($color: #000000, $alpha: 0.25);
}

.scientificName {
  font-size: calc(1rem + 1vmin);
  font-weight: bold;
  font-style: italic;
  text-align: center;

  color: #e74c3c;
  text-shadow: 0 2px 4px rgba($color: #e74c3c, $alpha: 0.25);
}
